<a href="https://colab.research.google.com/github/Zarak00/Data690_fall2022/blob/main/assignment_08/Assignment_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Zarak Mahmood

- Assignment 8

- 10/23/2022

In [1]:
import pandas as pd
import plotly.express as px

In [2]:
DATA_URL = "https://raw.githubusercontent.com/wcj365/python-stats-dataviz/master/assignments/assignment_08_census_cost/census_costs.txt"
df = pd.read_csv(DATA_URL, skiprows=1, sep="\t")

In [3]:
df.shape

(23, 4)

In [4]:
df.head(10)
df.tail(10)
df.sample(10)

   Census Year Total Population   Census Cost Average Cost Per Person
18        1970      203,302,031  $247,653,000                   $1.22
10        1890       62,979,766   $11,547,127             18.33 cents
17        1960      179,323,175  $127,934,000             71.34 cents
1         1800        5,308,483       $66,109              1.24 cents
9         1880       50,155,783    $5,790,678             11.54 cents
15        1940      131,669,275   $67,527,000             51.29 cents
4         1830       12,866,020      $378,545              2.94 cents
5         1840       17,069,458      $833,371              4.88 cents
6         1850       23,191,876    $1,423,351              6.14 cents
21        2000      281,421,906  $4.5 Billion                  $15.99

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     object
 1   Total Population         23 non-null     object
 2   Census Cost              23 non-null     object
 3   Average Cost Per Person  23 non-null     object
dtypes: object(4)
memory usage: 864.0+ bytes

In [6]:
df.describe()

       Census Year Total Population Census Cost Average Cost Per Person
count           23               23          23                      23
unique          23               23          23                      23
top           1790        3,929,214     $44,377              1.13 cents
freq             1                1           1                       1

# Cleaning all columns

# Total Population

In [7]:
def cleanse_1(column):
  return int (column.replace(",",""))

df["Total Population"] = df["Total Population"].apply(cleanse_1)
df.head(1)

  Census Year  Total Population Census Cost Average Cost Per Person
0        1790           3929214     $44,377              1.13 cents

# Census year

In [8]:
def cleanse_2(column):
  return int (column.replace("*",""))
df['Census Year'] = df['Census Year'].apply(cleanse_2)
df.tail(2)

    Census Year  Total Population   Census Cost Average Cost Per Person
21         2000         281421906  $4.5 Billion                  $15.99
22         2010         308745538   $13 Billion                  $42.11

# Census cost

In [9]:
def cleanse_Billion(column):
  return column.replace("Billion", "000000000")

def cleanse_sign(column):
  return column.replace('$', "")

def cleanse_3(column):
  return column.replace(",","")

def cleanse_space(column):
  return column.replace(" ", "")
def cleanse_decimal(column):
  return column.replace("4.5 Billion", '4,500,000,000')

df["Census Cost"] = df["Census Cost"].apply(cleanse_decimal)
df["Census Cost"] = df["Census Cost"].apply(cleanse_Billion)
df["Census Cost"] = df["Census Cost"].apply(cleanse_sign)
df["Census Cost"] = df["Census Cost"].apply(cleanse_3)
df["Census Cost"] = df["Census Cost"].apply(cleanse_space)

df.head(1)

   Census Year  Total Population Census Cost Average Cost Per Person
0         1790           3929214       44377              1.13 cents

In [10]:
df[df.columns[2]] = df[df.columns[2]].astype(float)
df.tail(2)

    Census Year  Total Population   Census Cost Average Cost Per Person
21         2000         281421906  4.500000e+09                  $15.99
22         2010         308745538  1.300000e+10                  $42.11

# Average cost per person

In [11]:
def cleanse_cents(column):
  return column.replace("cents","")
df["Average Cost Per Person"] = df["Average Cost Per Person"].apply(cleanse_cents)
df["Average Cost Per Person"] = df["Average Cost Per Person"].apply(cleanse_sign)
df["Average Cost Per Person"] = df["Average Cost Per Person"].apply(cleanse_3)
df.head(1)

   Census Year  Total Population  Census Cost Average Cost Per Person
0         1790           3929214      44377.0                   1.13

In [12]:
df[df.columns[3]] = df[df.columns[3]].astype(float)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     int64
 1   Total Population         23 non-null     int64
 2   Census Cost              23 non-null     float64
 3   Average Cost Per Person  23 non-null     float64
dtypes: float64(2), int64(2)
memory usage: 864.0 bytes

In [14]:
df.describe()

       Census Year  Total Population   Census Cost  Average Cost Per Person
count      23.0000      2.300000e+01  2.300000e+01                23.000000
mean     1900.0000      1.039211e+08  9.445587e+08                17.921739
std        67.8233      9.622629e+07  2.830037e+09                20.200432
min      1790.0000      3.929214e+06  4.437700e+04                 1.130000
25%      1845.0000      2.013067e+07  1.128361e+06                 3.850000
50%      1900.0000      7.630339e+07  1.185400e+07                10.020000
75%      1955.0000      1.653245e+08  1.096980e+08                21.045000
max      2010.0000      3.087455e+08  1.300000e+10                71.340000

# Using Plotly

In [15]:
 fig = px.bar(df, x="Census Year", y="Average Cost Per Person", title="Average cost per person over time", color="Census Year", template="plotly_dark")

 fig.update_layout(showlegend=False)

 fig.show()

In [16]:
fig = px.scatter(df, x="Total Population", y="Census Cost", title="Average cost per person over time", color="Total Population", template="plotly_dark")

fig.update_layout(showlegend=False)

fig.show()