<a href="https://colab.research.google.com/github/Zarak00/Data690_fall2022/blob/main/assignment_08/Assignment_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Zarak Mahmood

- Assignment 8

- 10/23/2022

In [ ]:
import pandas as pd
import plotly.express as px

In [ ]:
DATA_URL = "https://raw.githubusercontent.com/wcj365/python-stats-dataviz/master/assignments/assignment_08_census_cost/census_costs.txt"
df = pd.read_csv(DATA_URL, skiprows=1, sep="\t")

In [ ]:
df.shape

(23, 4)

In [ ]:
df.head(10)
df.tail(10)
df.sample(10)

   Census Year Total Population     Census Cost Average Cost Per Person
20        1990      248,718,301  $2,492,830,000                  $10.02
8         1870       38,558,371      $3,421,198              8.87 cents
5         1840       17,069,458        $833,371              4.88 cents
11        1900       76,303,387     $11,854,000             15.54 cents
19        1980      226,542,199  $1,078,488,000                   $4.76
0         1790        3,929,214         $44,377              1.13 cents
4         1830       12,866,020        $378,545              2.94 cents
21        2000      281,421,906    $4.5 Billion                  $15.99
10        1890       62,979,766     $11,547,127             18.33 cents
2         1810        7,239,881        $178,445              2.46 cents

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     object
 1   Total Population         23 non-null     object
 2   Census Cost              23 non-null     object
 3   Average Cost Per Person  23 non-null     object
dtypes: object(4)
memory usage: 864.0+ bytes

In [ ]:
df.describe()

       Census Year Total Population Census Cost Average Cost Per Person
count           23               23          23                      23
unique          23               23          23                      23
top           1790        3,929,214     $44,377              1.13 cents
freq             1                1           1                       1

# Cleaning all columns

# Total Population

In [ ]:
def cleanse_1(column):
  return int (column.replace(",",""))

df["Total Population"] = df["Total Population"].apply(cleanse_1)
df.head(1)

  Census Year  Total Population Census Cost Average Cost Per Person
0        1790           3929214     $44,377              1.13 cents

# Census year

In [ ]:
def cleanse_2(column):
  return int (column.replace("*",""))
df['Census Year'] = df['Census Year'].apply(cleanse_2)
df.tail(2)

    Census Year  Total Population   Census Cost Average Cost Per Person
21         2000         281421906  $4.5 Billion                  $15.99
22         2010         308745538   $13 Billion                  $42.11

# Census cost

In [ ]:
def cleanse_Billion(column):
  return column.replace("Billion", "000000000")

def cleanse_sign(column):
  return column.replace('$', "")

def cleanse_3(column):
  return column.replace(",","")
def cleanse_space(column):
  return column.replace(" ", "")
def cleanse_decimal(column):
  return column.replace(".",",")

df["Census Cost"] = df["Census Cost"].apply(cleanse_Billion)
df["Census Cost"] = df["Census Cost"].apply(cleanse_sign)
df["Census Cost"] = df["Census Cost"].apply(cleanse_3)
df["Census Cost"] = df["Census Cost"].apply(cleanse_space)


df.head(1)

   Census Year  Total Population Census Cost Average Cost Per Person
0         1790           3929214       44377              1.13 cents

In [ ]:
df[df.columns[2]] = df[df.columns[2]].astype(float)
df.tail(2)

    Census Year  Total Population   Census Cost Average Cost Per Person
21         2000         281421906  4.500000e+00                  $15.99
22         2010         308745538  1.300000e+10                  $42.11

# Average cost per person

In [ ]:
def cleanse_cents(column):
  return column.replace("cents","")
df["Average Cost Per Person"] = df["Average Cost Per Person"].apply(cleanse_cents)
df["Average Cost Per Person"] = df["Average Cost Per Person"].apply(cleanse_sign)
df["Average Cost Per Person"] = df["Average Cost Per Person"].apply(cleanse_3)
df.head(1)

   Census Year  Total Population  Census Cost Average Cost Per Person
0         1790           3929214      44377.0                   1.13

In [ ]:
df[df.columns[3]] = df[df.columns[3]].astype(float)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     int64
 1   Total Population         23 non-null     int64
 2   Census Cost              23 non-null     float64
 3   Average Cost Per Person  23 non-null     float64
dtypes: float64(2), int64(2)
memory usage: 864.0 bytes

In [ ]:
df.describe()

       Census Year  Total Population   Census Cost  Average Cost Per Person
count      23.0000      2.300000e+01  2.300000e+01                23.000000
mean     1900.0000      1.039211e+08  7.489065e+08                17.921739
std        67.8233      9.622629e+07  2.726728e+09                20.200432
min      1790.0000      3.929214e+06  4.500000e+00                 1.130000
25%      1845.0000      2.013067e+07  6.059580e+05                 3.850000
50%      1900.0000      7.630339e+07  1.154713e+07                10.020000
75%      1955.0000      1.653245e+08  7.949450e+07                21.045000
max      2010.0000      3.087455e+08  1.300000e+10                71.340000

# Using Plotly

In [ ]:
 fig = px.bar(df, x="Census Year", y="Average Cost Per Person", title="Average cost per person over time", color="Census Year", template="plotly_dark")

 fig.update_layout(showlegend=False)

 fig.show()

In [ ]:
fig = px.scatter(df, x="Total Population", y="Census Cost", title="Average cost per person over time", color="Total Population", template="plotly_dark")

fig.update_layout(showlegend=False)

fig.show()