<a href="https://colab.research.google.com/github/Zarak00/Data690_fall2022/blob/main/assignment_08/Assignment_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Zarak Mahmood
- Assignment 8
- 10/22/2022

In [129]:
import pandas as pd
import plotly.express as px

In [130]:
#Importing data 

DATA_URL = "https://raw.githubusercontent.com/wcj365/python-stats-dataviz/master/assignments/assignment_08_census_cost/census_costs.txt"
df = pd.read_csv(DATA_URL, skiprows=1, sep="\t")

In [131]:
#Finding rows and columns 
df.shape

(23, 4)

# Finding first, last, and random rows

In [132]:
# Displaying First 10 rows
df.head(10)

  Census Year Total Population Census Cost Average Cost Per Person
0        1790        3,929,214     $44,377              1.13 cents
1        1800        5,308,483     $66,109              1.24 cents
2        1810        7,239,881    $178,445              2.46 cents
3        1820        9,633,822    $208,526              2.16 cents
4        1830       12,866,020    $378,545              2.94 cents
5        1840       17,069,458    $833,371              4.88 cents
6        1850       23,191,876  $1,423,351              6.14 cents
7        1860       31,443,321  $1,969,377              6.26 cents
8        1870       38,558,371  $3,421,198              8.87 cents
9        1880       50,155,783  $5,790,678             11.54 cents

In [133]:
# Displaying last 10 rows
df.tail(10)

   Census Year Total Population     Census Cost Average Cost Per Person
13        1920      105,710,620     $25,117,000             23.76 cents
14        1930      122,775,046     $40,156,000             32.71 cents
15        1940      131,669,275     $67,527,000             51.29 cents
16        1950      151,325,798     $91,462,000             60.44 cents
17        1960      179,323,175    $127,934,000             71.34 cents
18        1970      203,302,031    $247,653,000                   $1.22
19        1980      226,542,199  $1,078,488,000                   $4.76
20        1990      248,718,301  $2,492,830,000                  $10.02
21        2000      281,421,906    $4.5 Billion                  $15.99
22       2010*      308,745,538     $13 Billion                  $42.11

In [134]:
# Displaying 10 random
df.sample(10)

   Census Year Total Population   Census Cost Average Cost Per Person
11        1900       76,303,387   $11,854,000             15.54 cents
22       2010*      308,745,538   $13 Billion                  $42.11
5         1840       17,069,458      $833,371              4.88 cents
7         1860       31,443,321    $1,969,377              6.26 cents
16        1950      151,325,798   $91,462,000             60.44 cents
17        1960      179,323,175  $127,934,000             71.34 cents
6         1850       23,191,876    $1,423,351              6.14 cents
21        2000      281,421,906  $4.5 Billion                  $15.99
4         1830       12,866,020      $378,545              2.94 cents
3         1820        9,633,822      $208,526              2.16 cents

# Finding info and stats

In [135]:
# Finding data type using info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     object
 1   Total Population         23 non-null     object
 2   Census Cost              23 non-null     object
 3   Average Cost Per Person  23 non-null     object
dtypes: object(4)
memory usage: 864.0+ bytes

In [136]:
# Finding stats of all columns 
df.describe()

       Census Year Total Population Census Cost Average Cost Per Person
count           23               23          23                      23
unique          23               23          23                      23
top           1790        3,929,214     $44,377              1.13 cents
freq             1                1           1                       1

# Cleanse the data to make the year, population, cost, cost per person numerical type

In [137]:
# Function to cleanse the column 
def cleanse_pop(a_string):
    return int(a_string.replace(",",""))

In [138]:
#Using the apply() method 
df["Total Population"] = df["Total Population"].apply(cleanse_pop)

df.head(1)

  Census Year  Total Population Census Cost Average Cost Per Person
0        1790           3929214     $44,377              1.13 cents

In [139]:
def cleanse(a_string):
    return int(a_string.replace("*",""))

In [140]:
df["Census Year"] = df["Census Year"].apply(cleanse)
df.tail(1)

    Census Year  Total Population  Census Cost Average Cost Per Person
22         2010         308745538  $13 Billion                  $42.11

In [141]:
def cleanse_Billion(a_string):
    return a_string.replace(' Billion','000000000')

def cleanse_sign(a_string):
    return a_string.replace("$","")    

def cleanse_3(a_string):
    return a_string.replace(",","")


df["Census Cost"] = df["Census Cost"].apply(cleanse_sign)

df["Census Cost"] = df["Census Cost"].apply(cleanse_3)


df["Census Cost"] = df["Census Cost"].apply(cleanse_Billion)
df

    Census Year  Total Population   Census Cost Average Cost Per Person
0          1790           3929214         44377              1.13 cents
1          1800           5308483         66109              1.24 cents
2          1810           7239881        178445              2.46 cents
3          1820           9633822        208526              2.16 cents
4          1830          12866020        378545              2.94 cents
5          1840          17069458        833371              4.88 cents
6          1850          23191876       1423351              6.14 cents
7          1860          31443321       1969377              6.26 cents
8          1870          38558371       3421198              8.87 cents
9          1880          50155783       5790678             11.54 cents
10         1890          62979766      11547127             18.33 cents
11         1900          76303387      11854000             15.54 cents
12         1910          91972266      15968000             17.07 cents
13         1920         105710620      25117000             23.76 cents
14         1930         122775046      40156000             32.71 cents
15         1940         131669275      67527000             51.29 cents
16         1950         151325798      91462000             60.44 cents
17         1960         179323175     127934000             71.34 cents
18         1970         203302031     247653000                   $1.22
19         1980         226542199    1078488000                   $4.76
20         1990         248718301    2492830000                  $10.02
21         2000         281421906  4.5000000000                  $15.99
22         2010         308745538   13000000000                  $42.11

In [142]:
df[df.columns[2]] = df[df.columns[2]].astype(float)
df

    Census Year  Total Population   Census Cost Average Cost Per Person
0          1790           3929214  4.437700e+04              1.13 cents
1          1800           5308483  6.610900e+04              1.24 cents
2          1810           7239881  1.784450e+05              2.46 cents
3          1820           9633822  2.085260e+05              2.16 cents
4          1830          12866020  3.785450e+05              2.94 cents
5          1840          17069458  8.333710e+05              4.88 cents
6          1850          23191876  1.423351e+06              6.14 cents
7          1860          31443321  1.969377e+06              6.26 cents
8          1870          38558371  3.421198e+06              8.87 cents
9          1880          50155783  5.790678e+06             11.54 cents
10         1890          62979766  1.154713e+07             18.33 cents
11         1900          76303387  1.185400e+07             15.54 cents
12         1910          91972266  1.596800e+07             17.07 cents
13         1920         105710620  2.511700e+07             23.76 cents
14         1930         122775046  4.015600e+07             32.71 cents
15         1940         131669275  6.752700e+07             51.29 cents
16         1950         151325798  9.146200e+07             60.44 cents
17         1960         179323175  1.279340e+08             71.34 cents
18         1970         203302031  2.476530e+08                   $1.22
19         1980         226542199  1.078488e+09                   $4.76
20         1990         248718301  2.492830e+09                  $10.02
21         2000         281421906  4.500000e+00                  $15.99
22         2010         308745538  1.300000e+10                  $42.11

# Cleansing Average Cost Per Person

In [143]:
def cleanse_cent(a_string):
    return a_string.replace("cents", "")

df["Average Cost Per Person"] = df["Average Cost Per Person"].apply(cleanse_cent)
df

df["Average Cost Per Person"] = df["Average Cost Per Person"].apply(cleanse_sign)
df

df["Cost Per Person"] = df["Average Cost Per Person"].apply(cleanse_3)
df

,Census Year,Total Population,Census Cost,Average Cost Per Person,Cost Per Person
0,1790,3929214,4.437700e+04,1.13,1.13
1,1800,5308483,6.610900e+04,1.24,1.24
2,1810,7239881,1.784450e+05,2.46,2.46
3,1820,9633822,2.085260e+05,2.16,2.16
4,1830,12866020,3.785450e+05,2.94,2.94
5,1840,17069458,8.333710e+05,4.88,4.88
6,1850,23191876,1.423351e+06,6.14,6.14
7,1860,31443321,1.969377e+06,6.26,6.26
8,1870,38558371,3.421198e+06,8.87,8.87
9,1880,50155783,5.790678e+06,11.54,11.54
10,1890,62979766,1.154713e+07,18.33,18.33
11,1900,76303387,1.185400e+07,15.54,15.54
12,1910,91972266,1.596800e+07,17.07,17.07
13,1920,105710620,2.511700e+07,23.76,23.76
14,1930,122775046,4.015600e+07,32.71,32.71
15,1940,131669275,6.752700e+07,51.29,51.29
16,1950,151325798,9.146200e+07,60.44,60.44
17,1960,179323175,1.279340e+08,71.34,71.34
18,1970,203302031,2.476530e+08,1.22,1.22
19,1980,226542199,1.078488e+09,4.76,4.76
20,1990,248718301,2.492830e+09,10.02,10.02
21,2000,281421906,4.500000e+00,15.99,15.99
22,2010,308745538,1.300000e+10,42.11,42.11

In [150]:
df[df.columns[4]] = df[df.columns[4]].astype(float)
df

,Census Year,Total Population,Census Cost,Average Cost Per Person,Cost Per Person
0,1790,3929214,4.437700e+04,1.13,1.13
1,1800,5308483,6.610900e+04,1.24,1.24
2,1810,7239881,1.784450e+05,2.46,2.46
3,1820,9633822,2.085260e+05,2.16,2.16
4,1830,12866020,3.785450e+05,2.94,2.94
5,1840,17069458,8.333710e+05,4.88,4.88
6,1850,23191876,1.423351e+06,6.14,6.14
7,1860,31443321,1.969377e+06,6.26,6.26
8,1870,38558371,3.421198e+06,8.87,8.87
9,1880,50155783,5.790678e+06,11.54,11.54
10,1890,62979766,1.154713e+07,18.33,18.33
11,1900,76303387,1.185400e+07,15.54,15.54
12,1910,91972266,1.596800e+07,17.07,17.07
13,1920,105710620,2.511700e+07,23.76,23.76
14,1930,122775046,4.015600e+07,32.71,32.71
15,1940,131669275,6.752700e+07,51.29,51.29
16,1950,151325798,9.146200e+07,60.44,60.44
17,1960,179323175,1.279340e+08,71.34,71.34
18,1970,203302031,2.476530e+08,1.22,1.22
19,1980,226542199,1.078488e+09,4.76,4.76
20,1990,248718301,2.492830e+09,10.02,10.02
21,2000,281421906,4.500000e+00,15.99,15.99
22,2010,308745538,1.300000e+10,42.11,42.11

#summary statistics of the numerical columns - use describe() function

In [151]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     int64
 1   Total Population         23 non-null     int64
 2   Census Cost              23 non-null     float64
 3   Average Cost Per Person  23 non-null     object
 4   Cost Per Person          23 non-null     float64
dtypes: float64(2), int64(2), object(1)
memory usage: 1.0+ KB

In [152]:
df.describe()

       Census Year  Total Population   Census Cost  Cost Per Person
count      23.0000      2.300000e+01  2.300000e+01        23.000000
mean     1900.0000      1.039211e+08  7.489065e+08        17.921739
std        67.8233      9.622629e+07  2.726728e+09        20.200432
min      1790.0000      3.929214e+06  4.500000e+00         1.130000
25%      1845.0000      2.013067e+07  6.059580e+05         3.850000
50%      1900.0000      7.630339e+07  1.154713e+07        10.020000
75%      1955.0000      1.653245e+08  7.949450e+07        21.045000
max      2010.0000      3.087455e+08  1.300000e+10        71.340000

In [156]:
df.describe()

       Census Year  Total Population   Census Cost  Cost Per Person
count      23.0000      2.300000e+01  2.300000e+01        23.000000
mean     1900.0000      1.039211e+08  7.489065e+08        17.921739
std        67.8233      9.622629e+07  2.726728e+09        20.200432
min      1790.0000      3.929214e+06  4.500000e+00         1.130000
25%      1845.0000      2.013067e+07  6.059580e+05         3.850000
50%      1900.0000      7.630339e+07  1.154713e+07        10.020000
75%      1955.0000      1.653245e+08  7.949450e+07        21.045000
max      2010.0000      3.087455e+08  1.300000e+10        71.340000

#Using plotly

In [154]:
fig = px.bar(
    df, 
    x="Census Year", 
    y="Cost Per Person", 
    title="Average cost per person over time", 
    color="Census Year",
    template="plotly_dark")

fig.update_layout(showlegend=False)

fig.show()

# Plot the scatter plot of Total Population vs Total Cost.

In [155]:
fig = px.scatter(
    df,
    x="Total Population",
    y="Census Cost", 
    title="Total Population vs Total Cost", 
    color="Total Population", 
    template="plotly_dark"
)

fig.update_layout(showlegend=False)

fig.show()