<a href="https://colab.research.google.com/github/Zarak00/Data690_fall2022/blob/main/assignment_08/Assignment_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Zarak Mahmood
- Assignment 8
- 10/22/2022

In [118]:
import pandas as pd
import plotly.express as px

In [119]:
#Importing data 

DATA_URL = "https://raw.githubusercontent.com/wcj365/python-stats-dataviz/master/assignments/assignment_08_census_cost/census_costs.txt"
df = pd.read_csv(DATA_URL, skiprows=1, sep="\t")

In [120]:
#Finding rows and columns 
df.shape

(23, 4)

# Finding first, last, and random rows

In [121]:
# Displaying First 10 rows
df.head(10)

  Census Year Total Population Census Cost Average Cost Per Person
0        1790        3,929,214     $44,377              1.13 cents
1        1800        5,308,483     $66,109              1.24 cents
2        1810        7,239,881    $178,445              2.46 cents
3        1820        9,633,822    $208,526              2.16 cents
4        1830       12,866,020    $378,545              2.94 cents
5        1840       17,069,458    $833,371              4.88 cents
6        1850       23,191,876  $1,423,351              6.14 cents
7        1860       31,443,321  $1,969,377              6.26 cents
8        1870       38,558,371  $3,421,198              8.87 cents
9        1880       50,155,783  $5,790,678             11.54 cents

In [122]:
# Displaying last 10 rows
df.tail(10)

   Census Year Total Population     Census Cost Average Cost Per Person
13        1920      105,710,620     $25,117,000             23.76 cents
14        1930      122,775,046     $40,156,000             32.71 cents
15        1940      131,669,275     $67,527,000             51.29 cents
16        1950      151,325,798     $91,462,000             60.44 cents
17        1960      179,323,175    $127,934,000             71.34 cents
18        1970      203,302,031    $247,653,000                   $1.22
19        1980      226,542,199  $1,078,488,000                   $4.76
20        1990      248,718,301  $2,492,830,000                  $10.02
21        2000      281,421,906    $4.5 Billion                  $15.99
22       2010*      308,745,538     $13 Billion                  $42.11

In [123]:
# Displaying 10 random
df.sample(10)

   Census Year Total Population     Census Cost Average Cost Per Person
10        1890       62,979,766     $11,547,127             18.33 cents
21        2000      281,421,906    $4.5 Billion                  $15.99
20        1990      248,718,301  $2,492,830,000                  $10.02
12        1910       91,972,266     $15,968,000             17.07 cents
13        1920      105,710,620     $25,117,000             23.76 cents
14        1930      122,775,046     $40,156,000             32.71 cents
11        1900       76,303,387     $11,854,000             15.54 cents
4         1830       12,866,020        $378,545              2.94 cents
3         1820        9,633,822        $208,526              2.16 cents
8         1870       38,558,371      $3,421,198              8.87 cents

# Finding info and stats

In [124]:
# Finding data type using info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     object
 1   Total Population         23 non-null     object
 2   Census Cost              23 non-null     object
 3   Average Cost Per Person  23 non-null     object
dtypes: object(4)
memory usage: 864.0+ bytes

In [125]:
# Finding stats of all columns 
df.describe()

       Census Year Total Population Census Cost Average Cost Per Person
count           23               23          23                      23
unique          23               23          23                      23
top           1790        3,929,214     $44,377              1.13 cents
freq             1                1           1                       1

# Cleanse the data to make the year, population, cost, cost per person numerical type

In [126]:
# Function to cleanse the column 
def cleanse_pop(a_string):
    return int(a_string.replace(",",""))

In [127]:
#Using the apply() method 
df["tot_pop"] = df["Total Population"].apply(cleanse_pop)

df.head()

  Census Year Total Population Census Cost Average Cost Per Person   tot_pop
0        1790        3,929,214     $44,377              1.13 cents   3929214
1        1800        5,308,483     $66,109              1.24 cents   5308483
2        1810        7,239,881    $178,445              2.46 cents   7239881
3        1820        9,633,822    $208,526              2.16 cents   9633822
4        1830       12,866,020    $378,545              2.94 cents  12866020

#summary statistics of the numerical columns - use describe() function

In [128]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     object
 1   Total Population         23 non-null     object
 2   Census Cost              23 non-null     object
 3   Average Cost Per Person  23 non-null     object
 4   tot_pop                  23 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.0+ KB

In [129]:
df.describe()

            tot_pop
count  2.300000e+01
mean   1.039211e+08
std    9.622629e+07
min    3.929214e+06
25%    2.013067e+07
50%    7.630339e+07
75%    1.653245e+08
max    3.087455e+08

In [130]:
df.describe(include="all")

,Census Year,Total Population,Census Cost,Average Cost Per Person,tot_pop
count,23,23,23,23,2.300000e+01
unique,23,23,23,23,NaN
top,1790,"3,929,214","$44,377",1.13 cents,NaN
freq,1,1,1,1,NaN
mean,NaN,NaN,NaN,NaN,1.039211e+08
std,NaN,NaN,NaN,NaN,9.622629e+07
min,NaN,NaN,NaN,NaN,3.929214e+06
25%,NaN,NaN,NaN,NaN,2.013067e+07
50%,NaN,NaN,NaN,NaN,7.630339e+07
75%,NaN,NaN,NaN,NaN,1.653245e+08
max,NaN,NaN,NaN,NaN,3.087455e+08

#Using plotly

In [131]:
fig = px.bar(
    df, 
    x="Census Year", 
    y="Average Cost Per Person", 
    title="Average cost per person over time", 
    color="Census Year",
    template="plotly_dark")

fig.update_layout(showlegend=False)

fig.show()

# Plot the scatter plot of Total Population vs Total Cost.

In [133]:
fig = px.scatter(
    df,
    x="Total Population",
    y="Census Cost", 
    title="Total Population vs Total Cost", 
    color="Total Population", 
    template="plotly_dark"
)

fig.update_layout(showlegend=False)

fig.show()