<a href="https://colab.research.google.com/github/Zarak00/Data690_fall2022/blob/main/assignment_03/Assignment_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assignement 03

- Zarak Mahmood
- 9/18/2022

#Print 10 by 10 in Matrix

In [39]:
import random
size = 10
random_numbers = []

for i in range(size):
    for j in range(size):
        print(random.randint(0,9), end=" ")
    print("\n")

1 4 9 1 6 8 4 0 5 8

1 8 7 2 7 6 2 2 6 2

3 8 2 6 4 9 7 9 4 9

7 0 8 1 7 0 5 7 7 0

6 4 3 3 5 3 1 6 2 3

2 6 1 5 0 3 0 4 0 7

4 7 4 7 8 1 8 5 7 9

4 2 7 1 0 3 1 0 2 9

6 4 8 3 8 4 0 0 8 7

1 2 0 3 5 2 9 7 5 8

#Replacing ODD number