<a href="https://colab.research.google.com/github/Zarak00/Data690_fall2022/blob/main/assignment_02/Assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assignmnt 02

- Zarak Mahmood
-9/11/2022

In [6]:
count = 0
while True:

    if count == 10:
        break

    try: 
        x = int(input("Enter an integer:"))
        count = count + 1
    except:
        print("You need to enter an integer. please try again.")

Enter an integer:10
Enter an integer:20
Enter an integer:30
Enter an integer:40
Enter an integer:50
Enter an integer:60
Enter an integer:70
Enter an integer:80
Enter an integer:90
Enter an integer:100

#Maximum

In [10]:
def max_value(list):     
    max = list[0]
    for i in list:
        if i > max:
            max = i
    return max         
num = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
print(max_value(num))

100

#Minimum

In [18]:
def min_value(list):
    min = list[0]
    for i in list:
      if i < min:
          min = i
    return min
num = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
print(min_value(num))

10

#Range

In [51]:
for i in range(10,101, 10):
 print(i)

10
20
30
40
50
60
70
80
90
100

#Mean

In [31]:
num = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
length = len(num)
total = sum(num)
mean_number = total/length
print(" Mean number", mean_number)

 Mean number 55.0

#Variance

In [42]:
variance_number = sum(num)** 2/ len(num)
print('variance number', variance_number)

variance number 30250.0

#Standard Deviation

In [58]:
sqrt = 30250** 0.5
print ('Standard deviation', sqrt)

Standard deviation 173.92527130926086