<a href="https://colab.research.google.com/github/Zarak00/Data690_fall2022/blob/main/assignment_02/data690_session_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- Date 09/08/2022
- Name : Zarak

In [16]:
years = "1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000"
 
print("birth year of students", years)

birth year of students 1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000

In [17]:
y = [2.4, 12, -7, 11, 6]

type(y)

list

In [18]:
total = 0
for number in y:
    total = total + number

print("sum of y =", total)

print("the size of the list", len(y))

print("the average of y is", total/len(y))

sum of y = 24.4
the size of the list 5
the average of y is 4.88

In [20]:
years_list[0]

NameError: ignored

In [ ]:
years_list[2]

'2000'

In [19]:
years_list2 = years_list.pop[0]

years_list2

NameError: ignored

In [23]:
from datetime import date

c= date.today().year

print(c)

2022

In [ ]:
count = 0
while True:

    if count == 3:
       break

    try:
      x = int(input("Enter an integer:"))
      count = count + 1
    except:
      print('you need to enter the right value')