<a href="https://colab.research.google.com/github/Zarak00/Data690_fall2022/blob/main/assignment_02/data690_session_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- Date 09/08/2022
- Name : Zarak

In [43]:
years = "1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000"
 
print("birth year of students", years)

birth year of students 1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000

In [44]:
type(years)

str

In [45]:
type(True)

bool

In [46]:
years_list = years.split(" ")
print(years_list)

['1/11/1997', '1991', '2000', '1969', '1999', '1998', '1993', '1996', '1999', '1997', '1996', '1998', '1995', '1999', '1999', '1997', '1996', '1996', '1997', '1995', '1997', '1999', '2000']

In [47]:
x = ['Jay', 'James', 'Jayson', 'Libin']
type(x)

list

In [48]:
y = [2.4, 12, -7, 11, 6]
type(y)

list

In [49]:
total = 0
for number in y:
    total = total + number
print('Sum of y =', total)
print('The size of the list is', len(y))
print('The average of y is', total/len(y))

Sum of y = 24.4
The size of the list is 5
The average of y is 4.88

In [50]:
years_list[0]

'1/11/1997'

In [51]:
years_list[2]

'2000'

#Approch 01 - data problemetic data element

In [52]:
abandoned = years_list.pop(0)
years_list

['1991',
 '2000',
 '1969',
 '1999',
 '1998',
 '1993',
 '1996',
 '1999',
 '1997',
 '1996',
 '1998',
 '1995',
 '1999',
 '1999',
 '1997',
 '1996',
 '1996',
 '1997',
 '1995',
 '1997',
 '1999',
 '2000']

In [53]:
years_list

['1991',
 '2000',
 '1969',
 '1999',
 '1998',
 '1993',
 '1996',
 '1999',
 '1997',
 '1996',
 '1998',
 '1995',
 '1999',
 '1999',
 '1997',
 '1996',
 '1996',
 '1997',
 '1995',
 '1997',
 '1999',
 '2000']

In [55]:
from datetime import date

current_year = date.today().year
print(current_year)

total = 0
for birth_year in  years_list:
    age = current_year - int(birth_year)
    total = total + age 
print('total age =', total)

2022
total age = 578

In [56]:
average_age = total/len(years_list)
print('average age', average_age )

average age 26.272727272727273

#Approch 02 - Fix data problem

In [57]:
years = "1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000"
print('Birth years of students', years)

Birth years of students 1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000

In [58]:
years_list = years.split()
print(years_list)

['1/11/1997', '1991', '2000', '1969', '1999', '1998', '1993', '1996', '1999', '1997', '1996', '1998', '1995', '1999', '1999', '1997', '1996', '1996', '1997', '1995', '1997', '1999', '2000']

In [59]:
years_list[0] = '1997'
print(years_list)

['1997', '1991', '2000', '1969', '1999', '1998', '1993', '1996', '1999', '1997', '1996', '1998', '1995', '1999', '1999', '1997', '1996', '1996', '1997', '1995', '1997', '1999', '2000']

In [61]:
from datetime import date

current_year = date.today().year
print(current_year)

total = 0
for birth_year in years_list:
    age = current_year - int(birth_year)
    total = total + age
print('Total age', total)

2022
Total age 603

In [65]:
average_age = total / len(years_list)
print('average age', average_age)

average age 26.217391304347824

#Misc

In [66]:
count = 0
while True:

    if count == 3:
        break

    try: 
        x = int(input("Enter an integer:"))
        count = count + 1
    except:
        print("You need to enter an integer. please try again.")

Enter an integer:55
Enter an integer:85
Enter an integer:95